.logo-ulima {
    fill: #fa7525;
    /* float: left; */
    
}

header{
    background-color: #18181b;
    
}

.top-nav-container {
  display: flex;               /* activa flexbox */
  justify-content: space-between; /* separa izquierda y derecha */
  align-items: center;         /* centra verticalmente */
  background-color: #18181b;
}

.header-container{
    border: 1px solid red;
    display: flex;
    flex-direction: row-reverse;
}

.logo{
    padding-top: 11px;
}



.layout-izquierda{
  display: flex;
  gap: 20px;
}


.contenedor-texto{
  text-align: center;
  
}

.texto{
  color: white;
}

.layout-textos{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}




svg{
    width: 40px;
    height: 40px;
    max-width: 50%;
    display: block;
    margin:  auto;
}


nav a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 450;
    
}

.link-texto:hover{
  color: #fa7525;
}

.layout-derecha{
  
  box-shadow: #fa7525;
  display: flex;
  align-items: center;
}

.profile{
  width: 30px;                 /* tamaño del perfil */
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
}


/* RESET HTML */

/* 1. Use a more-intuitive box-sizing model */
*,*::before,* ::after {
  box-sizing: border-box;
}


*{
margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}